Movie ticket system/force-app/main/default/flows/Movie_Booking_System_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Customer_Emails</name>
        <label>Customer Email</label>
        <locationX>491</locationX>
        <locationY>753</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Movie_Record_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>rythmevadodaria@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Customer_ID_Assigner</name>
        <label>Customer ID Assigner</label>
        <locationX>1320</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>customer_id_variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Getting_Customer_Detail_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ticket_Record_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Customer_ID_Assigner_0</name>
        <label>Customer ID Assigner</label>
        <locationX>1580</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>customer_id_variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Creating_Customer_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ticket_Record_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Paid_Status_Assigner</name>
        <label>Paid Status Assigner</label>
        <locationX>2148</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>paid_status_variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Record_Creation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>email_radio</name>
        <choiceText>E-mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>emailRadio</stringValue>
        </value>
    </choices>
    <choices>
        <name>lastName_radio</name>
        <choiceText>Last Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>lastNameRadio</stringValue>
        </value>
    </choices>
    <choices>
        <name>mode_offline</name>
        <choiceText>Offline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Offline</stringValue>
        </value>
    </choices>
    <choices>
        <name>mode_online</name>
        <choiceText>Online</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online</stringValue>
        </value>
    </choices>
    <choices>
        <name>newCreation_radio</name>
        <choiceText>Create New Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>recordCreationRadio</stringValue>
        </value>
    </choices>
    <choices>
        <name>phone_radio_button</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Amount_Paid_Decision</name>
        <label>Amount Paid Decision</label>
        <locationX>2257</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Payment_Record_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Amount_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount_Paid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>total_price_calculator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paid_Status_Assigner</targetReference>
            </connector>
            <label>if Amount Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_Radio_Decision</name>
        <label>Creation Radio Decision</label>+
        <locationX>1344</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Getting_Customer_Detail_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Flow</defaultConnectorLabel>
        <rules>
            <name>Creation_Radio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newCreation_radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Detail_Not_Found_Screen</targetReference>
            </connector>
            <label>Creation Radio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Detail_Decision</name>
        <label>Customer Detail Decision</label>
        <locationX>1571</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Customer_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Customer_Detail_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Detail_Found_Screen</targetReference>
            </connector>
            <label>If Customer Found</label>
        </rules>
        <rules>
            <name>If_Customer_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Customer_Detail_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Detail_Not_Found_Screen</targetReference>
            </connector>
            <label>If Customer Not Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today_s_date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>total_price_calculator</name>
        <dataType>Currency</dataType>
        <expression>({!movie_record_datatable.firstSelectedRow.Price__c} + {!Seats_Type_datatable.firstSelectedRow.Price__c}) * {!No_of_Seats}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Movie Booking System Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movie Booking System Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creating_Customer_Record</name>
        <label>Creating Customer Record</label>
        <locationX>1574</locationX>
        <locationY>664</locationY>
        <connector>
            <targetReference>Customer_ID_Assigner_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>customer_email_not_found.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>customer_name_not_found.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>customer_name_not_found.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>customer_phone_not_found.value</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Payment_Record_Creation</name>
        <label>Payment Record Creation</label>
        <locationX>2257</locationX>
        <locationY>754</locationY>
        <connector>
            <targetReference>Customer_Emails</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>paid_status_variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket__c</field>
            <value>
                <elementReference>Ticket_Record_Creation</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Ticket_Record_Creation</name>
        <label>Ticket Record Creation</label>
        <locationX>2255</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>Booking_Summary_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>customer_id_variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Movie_Name__c</field>
            <value>
                <elementReference>movie_record_datatable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Ticket__c</field>
            <value>
                <elementReference>No_of_Seats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seat_Type__c</field>
            <value>
                <elementReference>Seats_Type_datatable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket_Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Getting_Customer_Detail_Record</name>
        <label>Getting Customer Detail Record</label>
        <locationX>1477</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Detail_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customer_Search_phone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customer_search_lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customer_search_email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Movies_Record</name>
        <label>Getting Movies Record</label>
        <locationX>493</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Movie_Record_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Today_s_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Today_s_date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movie__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Seats_Record</name>
        <label>Getting Seats Record</label>
        <locationX>811</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Show_Timmings_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movie_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>movie_record_datatable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Seat_Pricing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Show_Timmings_Record</name>
        <label>Getting Show Timmings Record</label>
        <locationX>970</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seats_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>movie_record_datatable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>show_time__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Booking_Summary_Screen</name>
        <label>Booking Summary Screen</label>
        <locationX>2259</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Amount_Paid_Decision</targetReference>
        </connector>
        <fields>
            <name>Booking_Details</name>
            <fieldText>Booking Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>movie_summary</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Movie Name: &lt;strong&gt;{!movie_record_datatable.firstSelectedRow.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>showTiming_summary</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Show Timing: &lt;strong&gt;{!show_timing_datatable.firstSelectedRow.Time__c} ({!show_timing_datatable.firstSelectedRow.Name})&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>seat_type_summary</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seat Type: &lt;strong&gt;{!Seats_Type_datatable.firstSelectedRow.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>seats_count_summary</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No. of Seats: &lt;strong&gt;{!No_of_Seats}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking_Details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>amount_summary</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Amount Breakdown:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Movie Price: &lt;strong&gt;₹{!movie_record_datatable.firstSelectedRow.Price__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seat Price: &lt;strong&gt;₹{!Seats_Type_datatable.firstSelectedRow.Price__c} &lt;/strong&gt;&lt;em&gt;x &lt;/em&gt;&lt;strong&gt;{!No_of_Seats}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total: &lt;strong&gt;{!total_price_calculator}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Booking_Summary_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Summary_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Mode</name>
                    <choiceReferences>mode_online</choiceReferences>
                    <choiceReferences>mode_offline</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Payment Mode</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking_Summary_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount_Paid</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Detail_Found_Screen</name>
        <label>Customer Detail Found Screen</label>
        <locationX>1320</locationX>
        <locationY>445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_ID_Assigner</targetReference>
        </connector>
        <fields>
            <name>Customer_Details_0</name>
            <fieldText>Customer Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Details_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>customer_name_found</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>Getting_Customer_Detail_Record.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Getting_Customer_Detail_Record.Last_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Details_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>customer_phone_found</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Getting_Customer_Detail_Record.Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>customer_email_found</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Getting_Customer_Detail_Record.Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Detail_Not_Found_Screen</name>
        <label>Customer Detail Not Found Screen</label>
        <locationX>1571</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creating_Customer_Record</targetReference>
        </connector>
        <fields>
            <name>Customer_Details_0_0</name>
            <fieldText>Customer Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Details_0_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>customer_name_not_found</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>customer_search_lastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Details_0_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>customer_phone_not_found</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>customer_Search_phone.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>customer_email_not_found</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>customer_search_email.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Detail_Search_Screen</name>
        <label>Customer Detail Search Screen</label>
        <locationX>1236</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creation_Radio_Decision</targetReference>
        </connector>
        <fields>
            <name>customer_info_display</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Enter any Field to search customer detail records.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Detail_Search_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Detail_Search_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>customer_search_radio</name>
                    <choiceReferences>lastName_radio</choiceReferences>
                    <choiceReferences>phone_radio_button</choiceReferences>
                    <choiceReferences>email_radio</choiceReferences>
                    <choiceReferences>newCreation_radio</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Details_Search</name>
            <fieldText>Customer Details Search</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Details_Search_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>customer_Search_phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>customer_search_radio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>phone_radio_button</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>customer_search_lastName</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>customer_search_radio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>lastName_radio</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>customer_search_email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>customer_search_radio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>email_radio</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Movie_Record_Screen</name>
        <label>Movie Record Screen</label>
        <locationX>628</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Getting_Seats_Record</targetReference>
        </connector>
        <fields>
            <name>movie_record_datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Movie__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Getting_Movies_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6e4b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Movie Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-f736&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Start_date__c&quot;,&quot;guid&quot;:&quot;column-71fa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;End_date__c&quot;,&quot;guid&quot;:&quot;column-4b73&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Price__c&quot;,&quot;guid&quot;:&quot;column-6d4c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seats_Required</name>
        <label>Seats Required</label>
        <locationX>1084</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Detail_Search_Screen</targetReference>
        </connector>
        <fields>
            <name>Seats_Required_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Seats_Required_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_of_Seats</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of Seats</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Seats_Type_datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Seat_Pricing__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Getting_Seats_Record</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0e44&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Seat Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Price__c&quot;,&quot;guid&quot;:&quot;column-782d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Seats_Required_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>show_timing_datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>show_time__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Getting_Show_Timmings_Record</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-871d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Timing&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Time__c&quot;,&quot;guid&quot;:&quot;column-41b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-e927&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Getting_Movies_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hii, Congratulations your Ticket has been Booked Successfully.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Movie Ticket Booked.</text>
    </textTemplates>
    <variables>
        <name>customer_id_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paid_status_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </variables>
</Flow>
